{% extends 'base.html' %}

{% block title %}Authentication{% endblock %}
{% block content %}

<div class="header"></div>
    <div class="main">  
        <div class="field register">
            <div class="sign_up">
                 {% if page == 'login' %}
                <form method="post" action="" class="sign_up">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Введите имя" class="enter">
                <input type="password" name="password" placeholder="Введите пароль" class="enter">
                <input type="submit" value="Войти">
                </form>
                <div class="goToRegister">
                     Нет аккаунта? <br>
                    <a href="{% url 'register' %}">Зарегистрироваться</a>
                </div>
                {% else %}

                <h1>Register an account</h1>
                <form method="post" action="">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="register">
                </form>
                    <p>Already have an account?</p>
                    <a href="{% url 'login' %}">Login</a>

                {% endif %}
            </div>
        </div>
    </div>
    <div class="footer"></div>
{% endif %}

{% endblock %}