
{% extends 'base.html' %}
{% block title %}Product {{product.id}}{% endblock %}
{% block content %}
<div class="main products">

    <div class="field">
        <img src="{{product.product_photo.url}}" width="300" height="300" alt="">
        <form action="" method="post">
            {{form.as_p}}
            <button type="submit" class="button-buy"> Kupit`</button>
            {% csrf_token %}
        </form>
        <h1>{{product.name}}    {{product.price}} $</h1>

        <p class="description">
            {{product.description}}
        </p>
    </div>

{% endblock %}