{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
<div class="main">
    <div class="field">
        <div class="table_zone">
            <table>
                <tr>
                    <td>товар</td>
                    <td>к-во</td>
                    <td>цена</td>
                </tr>
                {% for el in cart %}
                <tr>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <button class="del" name="_del_element" value="{{el.product.id}}">Удалить с корзины</button>
                        </form>
                        <img src="https://cdn-icons-png.flaticon.com/512/1250/1250689.png" alt="profile">
                        {{el.product.name}} <br>
                        <span class="price_one"> Цена за 1 единицу:{{el.price}}  </span>
                        </td>
                    <td>x{{el.quantity}}</td>
                    <td>{{el.total_price}}</td>
                </tr>
                {%endfor%}
                <tr>
                    <td colspan="2">Общая стоимость</td>
                    <td>{{total}}</td>
                </tr>
            </table>
        </div>
        <div class="navigation_cart">
            <form method="post">
                {% csrf_token %}
                <button class="confirm">Оформить заказ</button>
                <button class="clear" name="_clean_cart">Очистить корзину</button>
            </form>
        </div>
    </div>




{% endblock %}